* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --max-width: 1440px;

  --radius: 0.3rem;
  --padding: 0.8rem;
  --gap: 0.5rem;

  --color-mute: rgb(211, 211, 211);
  --color-font: #000;

  --font-lg: 1.5rem;
  --font-md: 1.3rem;
  --font: 0.875rem;

  --font-light: 400;
  --font-bold: 600;

  --shadow: var(--color-mute) 1.95px 1.95px 2.6px;

  --transition-timing-function: ease-in-out;
  --transition-duration: 0.3s;
}

html,
body {
  line-height: 1.3;
}
