.button {
  padding: calc(var(--padding) * 0.5) var(--padding);
  border: 1px solid transparent;
  border-radius: var(--radius);
  outline: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  gap: var(--gap);

  cursor: pointer;
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.ghost {
  border-color: var(--color-mute);
}

.ghost:hover {
  border-color: var(--color-font);
}

.destructive {
  color: red;
  border-color: red;
}

.destructive:hover {
  color: white;
  background-color: red;
}
